# Grunt leftovers
.grunt

# WebStorm directory
.idea

# Dependency directories
node_modules
bower_components

# Coverage reports
cvrg

# Logo source file
doc/logo/*.ai

# Environment variables
environment_variables.bat
environment_variables.sh

# Project notes
PROJECT_NOTES

# NPM Debug log
npm-debug.log