# WebStorm directory
.idea

# Dependency directory
node_modules

# Coverage reports
cvg

# Documentation, logos and icons
doc/logo/*.ai

# Project notes
PROJECT_NOTES

# NPM Debug log
npm-debug.log

# Grunt leftover
.grunt