# WebStorm directory
.idea

# Environment variables
environment_variables.bat

# Dependency directories
node_modules
bower_components

# Coverage reports
cvrg

# Logo source file
doc/logo/*.ai

# Project notes
PROJECT_NOTES
PROJECT.js

# NPM Debug log
npm-debug.log

# Grunt leftovers
.grunt